.obsidian/workspace.json
.obsidian/workspace*.json
.obsidian/graph.json
.obsidian/plugins/*/cache/

# Plugin data that may contain sensitive info!!
.obsidian/plugins/text-extractor/data.json
.obsidian/plugins/omnisearch/data.json